<div name = 'detailedInfo'>
	<div class = 'row'>
		<span>Detailed information</span>
		<a href ='' ng-click = 'farmInfoCtrl.editDetails()'>Edit</a>
	</div>
	<div class = 'form-group row'>
		<label class = 'col-md-3 text-right'>Open hours:</label>
		<div class = 'col-md-9'>
			<span ng-bind = 'farmInfoCtrl.farm.openHours'></span>
		</div>
	</div>
	<div class = 'row form-group'>
		<label class = 'col-md-3 text-right'>Product(s):</label>
		<div class = 'col-md-9'>
			<div ng-repeat = 'product in farmInfoCtrl.farm.products'>
				<span ng-bind = 'product.name'></span>
				<span ng-cloak>{{product.available? ' (available)':''}}</span>
				<span ng-cloak>{{product.price}}</span>
			</div>
		</div>
	</div>
</div>