<div class = 'row'>
    <div class = 'col-md-6 col-sm-12'>
        <div class = 'form-group row'>
            <label class = 'col-md-3 col-sm-3 text-right'>Address:</label>
            <div class = 'col-md-9 col-sm-9'>
                <div><span ng-bind = 'farmInfoCtrl.farm.formattedAddress'></span></div>
                <div><a href = '' ng-click = 'reportBadAddr()'> Report incorrect address</a></div>
            </div>
        </div>
        <div class = 'form-group row'>
            <label class = 'col-md-3 col-sm-3 text-right'>Name:</label>
            <div class = 'col-md-9 col-sm-9'>
                <input ng-model = 'edit.name'
                class = 'form-control'/>
            </div>
        </div>
        <div class = 'form-group row'>
            <label class = 'col-md-3 col-sm-3 text-right'>Telephone:</label>
            <div class = 'col-md-9 col-sm-9'>
                    <input ng-model = 'edit.phone'
                    class = 'form-control'/>
            </div>
        </div>
        <div class = 'row form-group'>
            <label class = 'col-md-3 col-sm-3 text-right'>Product(s):</label>
            <div class = 'col-md-9 col-sm-9'>
                <input ng-model = 'edit.products'
                class = 'form-control'/>
            </div>
        </div>
        <br/>
        <div class = 'row text-center'>
            <p>Would you like to post this under a name? Leave these fields blank if you would like to post anonymously.</p>
        </div>
        <div class = 'row form-group'>
            <label class = 'col-md-3 col-sm-3 text-right'>Your usename: </label>
            <div class = 'col-md-9 col-sm-9'>
                <input class = 'form-control' ng-model = 'editor.name'/>
            </div>
        </div>
        <div class = 'row form-group'>
            <label class = 'col-md-3 col-sm-3 text-right'>Email:</label>
            <div class = 'col-md-9 col-sm-9'>
                <input class = 'form-control' ng-model = 'editor.email'/>
                <div>
                    <span class = 'deemphasize'>Email will not be public. Fill this if you would like to use the same name next time.
                    </span>
                </div>
            </div>
        </div>
        <div class = 'row'>
            <div class =  'col-md-2 col-sm-2 col-md-offset-3 col-sm-offset-3'>
                <button class = 'btn btn-primary btn-block'
                ng-click = 'farmInfoCtrl.sendUpdate()'>Send</button>
            </div>
            <div class = 'col-md-2 col-sm-2'>
                <button class = 'btn btn-default btn-block'
                ng-click = 'farmInfoCtrl.cancelEdit()'>Cancel</button>
            </div>
        </div>
    </div>
</div>