<div name = 'searchForm'>
<form>
	<div class = 'form-group col-md-5'>
		<label class = 'col-md-3 text-right'>Where?</label>
		<input name = 'place' class = 'col-md-9'
			ng-model = 'searchFarmCtrl.searchForm.place'/>
	</div>
	<div class = 'form-group col-md-5'>
		<label class = 'col-md-3 text-right'>What?</label>
		<input name = 'product' class = 'col-md-9'
			ng-model = 'searchFarmCtrl.searchForm.product'
			placeholder = 'Ex: salade "haricot vert"'/>
	</div>
	<div class = 'col-md-2 '>
		<button ng-click = 'searchFarmCtrl.search()'> Search</button>
	</div>
</form>
</div>