<div ng-show = 'newFarmCtrl.closeFarms && newFarmCtrl.closeFarms.length'
	class = 'alert alert-warning'>
	<p>Your suggested farm is close to the following existing farms.
	Is it not one of these?</p>
	<ol>
		<li ng-repeat = 'closeFarm in newFarmCtrl.closeFarms'>
			<span class = 'farm-suggestion'
				ng-bind = 'closeFarm.value.formattedAddress'></span>
			<button class = 'btn btn-link text-right' ng-click = 'newFarmCtrl.edit(closeFarm)'>Edit</button>
		</li>
	</ol>
	<div>
		<button class = 'btn btn-primary'
			ng-click = 'newFarmCtrl.addFarm(true)'>
			No, it is another farm
		</button>
	</div>
</div>