<div ng-controller = 'NewFarmFormController as newFarmCtrl'>
	<div class = 'row'>
		<div class = 'col-md-6'>
			<div ui-view = 'simpleForm'></div>
			<div ui-view = 'parsedAddress'></div>
			<div ui-view = 'addFarmButton'></div>
		</div>
		<div class = 'col-md-6'>
			<div ui-view = 'map' class = ></div>
		</div>
	</div>
			
			
	
			

		
	
	<div class = 'row'>
		<div class = 'col-md-6 text-center col-md-offset-3'>
			<div class="alert alert-warning alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span></button>
				This farm exists already!
			</div>
		</div>
	</div>
</div>