<div class = 'container'>
	<div name = 'newFarm' ng-if = '!show.finished'>
		<div class = 'row'>
			<h4> Share a farm address?
			</h4>
			<p>Just enter the address in the box below, verify the location and give some information on the farm.</p>
		</div>
		<br/>
		<div class = 'row'>
			<form ng-submit = 'newFarmCtrl.verifyAddress(search.searchStr)'>
				<div class = 'row'>
					<div class = 'col-md-6'>
						<div class = 'form-group' >
							<input type="text" class="form-control" ng-model = 'search.searchStr'
							ng-change = 'reset()'/>
						</div>
						<div>
							<input class="btn btn-primary" type="submit"
							value = 'Verify location'
							ng-class = '{disabled: verifyBtnDisable}'/>
						</div>
					</div>
				</div>
			</form>
		</div>
		<br/>
		<div class = 'row'>
			<div class = 'col-md-6'>
				<div  ng-if = 'show.searchAlert'
					ng-include = 'alertTpl'>
				</div>
				<br/>
				<div ng-if = 'show.parsedAddress' name = 'parsedAddress'>
					<div class = 'row'>
						<p ng-if = 'show.confirm'>
						Please confirm this address and go to next step to provide some more details on this farm.
						</p>
						<h4>Address</h4>
					</div>
					<div class = 'row'>
						<div class = 'col-md-6 row'>
							<label>Country: </label>
							<span ng-bind = 'newFarmCtrl.farm.country'></span>
						</div>
						<div class = 'col-md-6 row'>
							<label>Canton: </label>
							<span ng-bind = 'newFarmCtrl.farm.canton'></span>
						</div>
						
					</div>
					<div class = 'row'>
						<div class = 'col-md-6 row'>
							<label>City/Commune: </label>
							<span ng-bind = 'newFarmCtrl.farm.city'></span>
						</div>
						<div class = 'col-md-6 row'>
							<label>Street/road: </label>
							<span ng-bind-html = 'newFarmCtrl.farm.street || alert.street'></span>
						</div>
					</div>
					<br/>
					<div class = 'row' ng-if = 'show.confirm'>
						<button type = 'button' class = 'btn btn-primary btn-sm'
						ng-click = 'newFarmCtrl.goNext()'>Confirm, next!</button>
						<button type = 'button' class = 'btn btn-default btn-sm'
						ng-click = 'newFarmCtrl.reload()'>Cancel</button>
					</div>
					<br/>
				</div>
				
				<div name = 'moreInfo' ng-if = 'show.moreInfo'>
					<div class = 'row'>
						<p>Tell us some more useful information on this farm.</p>
						<div class = 'form-group row'>
							<label class = 'col-md-2'>Name</label>
							<div class = 'col-md-10'>
								<input class = 'col-md-6'
									type = 'text'
									ng-model = 'newFarmCtrl.farm.name'/>
								<div class = 'col-md-6 deemphasize'>
									<span>Farm or owner's name</span>
								</div>
							</div>
						</div>
						<div class = 'form-group row'>
							<label class = 'col-md-2'>Telephone</label>
							<div class = 'col-md-10'>
								<input name = 'tel'
									class = 'col-md-6'
									type = 'text'
									ng-model = 'newFarmCtrl.farm.tel'/>
								<div class = 'col-md-6 deemphasized'>
									<span>Useful to phone the farm owner before going</span>
								</div>
							</div>
						</div>
						<div class = 'form-group row'>
							<label class = 'col-md-2'>Product(s)</label>
							<div class = 'col-md-10'>
								<input name = 'tel'
									class = 'col-md-12'
									type = 'text'
									ng-model = 'newFarmCtrl.farm.product'
									placeholder = 'Example: haricot vert, salade, petit poid'/>
							</div>
						</div>
						<button type = 'button' class = 'btn btn-primary'
							ng-click = 'newFarmCtrl.submit()'>Ok, share it</button>
					</div>
				</div>
			</div>
			<br/>
			<div class = 'col-md-6' ng-if = 'show.map'>
				<div class = 'col-md-12'>
					<div id = 'map' aspect-ratio = '1:2'></div>
				</div>
			</div>
		</div>
	</div>
	<div name = 'thank' ng-if = 'show.finished'>
		<div class = 'row'>
			<p> Thank you for having share this farm with us!</p>
		</div>
	</div>
</div>