<a ui-sref="searchFarm">Search one farm</a>
<div ng-controller = 'NewFarmFormController as newFarmCtrl'>
	<form>
		<label>Name</label>
		<input name = 'name'
			type = 'text'
			ng-model = 'newFarmCtrl.farm.name'/><br/>

		<div name = 'address'>
			<label>Canton</label>
			<select name = 'canton'
				ng-model = 'newFarmCtrl.farm.canton'
				ng-options = 'canton for canton in cantons'>
			</select>
			<br/>

			<label>City/Town</label>
			<input name = 'city'
				type = 'text'
				ng-model = 'newFarmCtrl.farm.city'/><br/>

			<label>Postal Code</label>
			<input name = 'postalCode'
				type = 'number'
				ng-model = 'newFarmCtrl.farm.postalCode'/><br/>

			<label>Street address</label>
			<input name = 'street'
				type = 'text'
				ng-model = 'newFarmCtrl.farm.street'/><br/>
			<label>Telephone</label>
			<input name = 'tel'
				type = 'text'
				ng-model = 'newFarmCtrl.farm.tel'/><br/>
		</div>

		<label>Open hours</label>
		<input name = 'openHours'
			ng-model = 'newFarmCtrl.farm.openHours'/>

		<div>
			<span>Products</span>
			<div ng-repeat = 'product in newFarmCtrl.farm.products'>
				<label>Product {{$index + 1}}</label>
				<input type = 'text'
					name = 'product'
					ng-model = 'product.name'/>
				<label>Gather period</label>
				<input name = 'gatherPeriod'
					ng-model = 'product.gatherPeriod'/>
				<label>Price</label>
				<input name = 'price'
					ng-model = 'product.price'/>
				<button
					type = 'button'
					ng-click = 'newFarmCtrl.removeProduct($index)'>Remove</button>
			</div>
			<button type = 'button'
				ng-click = 'newFarmCtrl.addProduct()'>Add product</button>
		</div>
		<input type = 'button' value = 'Submit'
			ng-click = 'newFarmCtrl.submit()'/>
	</form>
</div>