<div id = 'parsedAddress' class = 'row'>
	<p>Selected address:</p>
	<div class = 'row no-gutter'>
		<div class = 'col-md-6 row no-gutter'>
			<label class = 'col-md-6 text-right'>Canton:</label>
			<div class = 'col-md-6'>
				<span ng-bind = 'newFarmCtrl.farm.canton'></span>
			</div>
		</div>

		<div class = 'col-md-6 row no-gutter'>
			<label class = 'col-md-6 text-right'>City/Commune:</label>
			<div class = 'col-md-6'>
				<span ng-bind = 'newFarmCtrl.farm.city'></span>
			</div>
		</div>
	</div>
	<div class = 'row no-gutter'>
			<label class = 'col-md-3 text-right'>Street address:</label>
			<div class = 'col-md-9'>
				<span ng-bind = 'newFarmCtrl.farm.streetLine'></span>
			</div>
	</div>
</div>