<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<title></title>
		<base href="/">
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
		
		<!-- compiled CSS --><% styles.forEach( function ( file ) { %>
		<link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

		<!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
		<script type="text/javascript" src="<%= file %>"></script><% }); %>
		<script>document.write('<script src="http://'
			+ (location.host || 'localhost').split(':')[0]
			+ ':35729/livereload.js"></'
			+ 'script>')</script>
	</head>
	<body ng-app = 'app' class = 'container'>
		<header class = 'header-bg'>
				<img src="assets/farm.jpg" class="img-responsive banner" alt="Responsive image">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
						<a class="navbar-brand" href="#">Autocueillette Suisse</a>
						</div>
						<div>
						<ul class="nav navbar-nav">
							<li ui-sref-active = 'active'><a ui-sref="index">Home</a></li>
							<li ui-sref-active = 'active'><a ui-sref="newFarm.fillAddress">New farm</a></li>
							<li ui-sref-active = 'active'><a ui-sref="searchFarm">Search</a></li>
						</ul>
						</div>
					</div>
				</nav>
		</header>
		<div ui-view>
		</div>
		<footer>
				<small>Copyright 2015, Viet Hang Nguyen.</small>
		</footer>
	</body>
</html>
