<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="stylesheets/app.css">
<!-- 		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"> -->

		<!-- compiled CSS --><% styles.forEach( function ( file ) { %>
		<link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

		<!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
		<script type="text/javascript" src="<%= file %>"></script><% }); %>
		<script>document.write('<script src="http://'
			+ (location.host || 'localhost').split(':')[0]
			+ ':35729/livereload.js"></'
			+ 'script>')</script>
	</head>
	<body ng-app = 'app'>
		<header>
			Autocueillette Suisse
		</header>
		<section>
			<div ng-controller = 'newFarmFormController as newFarm'>
				<form name = 'newFarmForm'
					ng-submit = 'newFarm.submit()'>
					<label for = 'newFarmName'>Name</label>
					<input name = 'name'
						type = 'text'
						ng-model = 'newFarm.name'/><br/>

					<div name = 'address'>
						<label for = 'canton'>Canton</label>
						<select name = 'canton'
							ng-model = 'newFarm.canton'
							ng-options = 'canton for canton in cantons'>
						</select>
						<br/>

						<label for = 'newFarmCity'>City/Town</label>
						<input name = 'city'
							type = 'text'
							ng-model = 'newFarm.city'/><br/>

						<label for = 'newFarmPostalCode'>Postal Code</label>
						<input name = 'postalCode'
							type = 'number'
							ng-model = 'newFarm.postalCode'/><br/>

						<label for = 'newFarmStreet'>Street address</label>
						<input name = 'street'
							type = 'text'
							ng-model = 'newFarm.street'/><br/>

					</div>

					<label for = 'newFarmTel'>Telephone</label>
					<input name = 'tel'
						type = 'text'
						ng-model = 'newFarm.tel'/><br/>

					<label for = 'newFarmOpenHours'>Open hours</label>
					<input name = 'openHours'
						ng-model = 'newFarm.openHours'/>

					<div>
						<span>Products</span>
						<div ng-repeat = 'product in newFarm.products'>
							<label ng-cloak>Product{{$index}}</label>
							<input name = 'product'
								ng-model = 'product.name'/>
							<label>Gather period</label>
							<input name = 'gatherPeriod'
								ng-model = 'product.gatherPeriod'/>
							<label>Price</label>
							<input name = 'price'
								ng-model = 'product.price'/>
						</div>
					</div>
					<input type = 'submit'
						value = 'Submit'/>
				</form>
			</div>
		</section>
		<footer>
			<small>Copyright 2015, Viet Hang Nguyen.</small>
		</footer>
	</body>
</html>
